{
#        dynamic_dns {
#                provider dns cloudflare 03f861234580c9ec827a0ded6bfc82ce81d22
#                domains {
#                        cac-group.io @
#                        cac-group.org @
#                        basementnodes.ca <follow with subdomains>
#                }
#                versions ipv4
#                ip_source simple_http https://ifconfig.me
#                ip_source simple_http https://icanhazip.com
#                ip_source simple_http https://api64.ipify.org
#                check_interval 5m
#                ttl 1h
#        }

        servers {
                listener_wrappers {
                        proxy_protocol {
                                timeout 2s
                                allow 127.0.0.1/24
                        }
                        http_redirect
                        tls {
                                dns cloudflare <api token>
                        }
                }
        metrics
        }
}
(cors) {
  @origin{args.0} header Origin {args.0}
    header @origin{args.0} Access-Control-Allow-Origin "{args.0}"
    header @origin{args.0} Access-Control-Allow-Headers "content-type, x-requested-with"
    header @origin{args.0} Vary Origin
}

cac-group.io {
        log {
                output file /var/log/cac-group-io.log
                format json
        }
        reverse_proxy tcp://<local ip>
        metrics /scrape
        handle /scrape {
              @nope not remote_ip private_ranges
              abort @nope
        }
}
rpc.juno.basementnodes.ca {
        log {
                output file /var/log/sub_basementnodes_junorpc.log
                format json
        }
        reverse_proxy tcp://<local ip>
        import cors *
        metrics /scrape
        handle /scrape {
              @nope not remote_ip private_ranges
              abort @nope
        }
}
cac-group.org {
        log {
                output file /var/log/cac-group-org.log
                format json
        }
        redir https://cac-group.io
}
